frontend/node_modules
backend/.gradle
*.log
*.tmp
backend/build
frontend/.angular
frontend/dist
backend/src/main/webapp
backend/bin
*.sql
Picking Optimization
backend/src/main/resources/application.yml
 
